.filters {
  display: grid;
  grid-template-columns: repeat(4, min-content);
  gap: 10px;
}
.btn {
  background: none;
  border: 1px solid black;
}
.active {
  background-color: black;
  color: white;
}

.dark {
  background-color: black;
  color: white;
}
.add_todo {
  margin-top: 15px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.container {
  display: grid;
  gap: 10px;
}
ul {
  list-style: none;
}
.completed {
  text-decoration: line-through;
}
